/* .navbar-nav {
    padding-right: 0 !important;
    right: -95%;
    position: relative !important;
}

@media screen and (max-width: 2800px) {
    .navbar-nav {
        padding-right: 0 !important;
        right: -85%;
        position: relative !important;
    }
}
    @media screen and (max-width: 2200px) {
        .navbar-nav {
            padding-right: 0 !important;
            right: -79%;
            position: relative !important;
        }
    }
@media screen and (max-width: 1800px) {
    .navbar-nav {
        padding-right: 0 !important;
        right: -70%;
        position: relative !important;
    }
  }
  @media screen and (max-width: 1205px) {
    .navbar-nav {
        padding-right: 0 !important;
        right: -65%;
        position: relative !important;
    }
  } */

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex : 1;
}

#first-section {
  flex: 2;
  background-image: url(../assets/background-candy.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50vh;
}

#seconde-section {
  flex: 3;
}

footer {
  flex : 4;
  position: relative !important;
  bottom: -100px !important;
  width: 100% !important;
  height: 60px !important; /* Height of the footer */
  text-align: center;
}

nav {
  font-size: 18px !important;
}


#textFirstSection {
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  top: 20%;
}

h1 {
  color: rgb(0, 119, 255);
  font-weight: 750 !important;
}
h3 {
  color: rgb(34, 34, 34);
}
h4 {
  color: rgb(34, 34, 34);
}

.btn-outline-info {
  background-color: #30a2cb4d !important;
  color: #172ab8 !important;
  font-weight: 700 !important;
  font-size: 10px;
}

#products-title {
  position: relative;
  left: 0.5%;
  margin-top: 1% !important;
}
#products {
  display: inline-block;
  position: relative;
  left: 10%;
  border-color: #7ab730 !important;
  border-left: 4px solid #7ab730 !important;
}

h5 {
  color: #457708 !important;
  font-weight: 700 !important;
}

#best-seller {
  margin-top: -15px !important;
  left: 0.5%;
  position: relative;
  color: black !important;
}

#all-cards {
  justify-content: center;
  display: flex !important;
  flex-wrap: wrap;
  padding: 35px 250px;
  gap: 5em !important;
  max-width: 100%;
}
.card {
  flex: 1 1 10px !important;
  min-width: 115px !important;
  max-width: 255px !important;
}



#copyright {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1285px) {
  h1 {
    font-size: 2rem !important;
  }
  h3 {
    font-size: 1.6rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  #logo {
    width: 12% !important;
  }
}

@media screen and (max-width: 1005px) {
  #textFirstSection {
    top: 18% !important;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h3 {
    font-size: 1.4rem !important;
  }
  h4 {
    font-size: 0.8rem !important;
  }
  #logo {
    width: 14% !important;
  }
  .card-text {
    font-size: 10px !important;
  }
  .card-title {
    font-size: 14px !important;
  }
  #goldenBear {
    top: -15px;
    position: relative;
  }
  .card {
    flex: 1 1 10px !important;
    min-width: 205px !important;
    max-width: 255px !important;
  }
  #all-cards {
    justify-content: center;
    display: flex !important;
    flex-wrap: wrap;
    padding: 35px 250px;
    gap: 4em !important;
    max-width: 100%;
}
  
}

@media screen and (max-width: 890px) {
  #textFirstSection {
    position: sticky;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 55% !important;
  }
.card {
  width: 55% !important;
}
}
@media screen and (max-width: 800px) {
  #logo {
    width: 25% !important;
  }
  .card-title {
    font-size: 12px !important;
  }
}


/* @media screen and (max-width: 755px) {

} */




@media screen and (max-width: 650px) {
  #textFirstSection {
    position: sticky;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 65% !important;
  }
}

@media screen and (max-width: 546px) {
  #textFirstSection {
    position: sticky;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 75% !important;
  }
  h1 {
    font-size: 1.4rem !important;
  }
  h3 {
    font-size: 1.1rem !important;
  }
  h4 {
    font-size: 0.75rem !important;
  }
  #logo {
    width: 35% !important;
  }
}

@media screen and (max-width: 325px) {
  #textFirstSection {
    top: 12% !important;
  }
  #logo {
    width: 50% !important;
  }
}

@media screen and (max-width: 200px) {
  h4 {
    display: none !important;
  }
}
